html{
    font-size: 16px;
}

body {
    padding: 25px 50px 75px 100px;
    font-family: "Inter";
}

h1, h2{
    font-family: "Inter";
    padding-bottom: 5px;
}

sub{
    color: #9B9B9B;
    font-size: small;
    font-weight: 100;
    padding-left: 2em;
    position: relative;
    top: -1em;
}

div input{
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    border-radius: 0.5em;
}

.search-bar{
    width: 35%;
    background-color: #F5F4F4;
    color: #9B9B9B;
}

.submit-button{
    width: 4%;
    text-align: center;
    color: white;
    background-color: black;
}

.nowPlaying {
    background-color: #F5F4F4;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.song-title {
    font-weight: bold;
    font-size: large;
}