*,
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  letter-spacing: -0.75px;
  line-height: 1.5em;
  color: #1A1A1A;
}

.bro {
  background-color: #1A1A1A;
  color: #fff;
  border-radius: 4px;
  padding: 0.3em 0.6em;
}


.tags {
  padding: 0.3em 0.6em;
  border: 1px dashed #000;
  border-radius: 4px;
  margin-left: 5px;
}

.tags:first-of-type {
  margin: 0;
}

/* .container {
  padding-top: 1.5em;
} */

body {
  padding: 25px 50px;
}

h3 {
  font-style: italic;
}

a {
  font-style: normal;
  color: blue;
}

a:visited {
  color: blue;
}
/* 
@media (max-width: 1250px) {
  
}
*/